/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

:root {
	/* bg: 'bg.png' */
	background-color: #72062aff;
	background-image: url("./assets/bg.png");
	background-size: cover;
	background-attachment: fixed;
}

.text-bubble {
	/* text: bg+border #990000 1em; */
	--color: #ff546bff;
	background-color: var(--color);
	border: 0.25rem solid var(--color);
	border-radius: 1em;
	padding: 0.5em;
}
@media (width >= 48rem) {
	.text-bubble {
		border-width: 0.5rem;
		padding: 1em;
	}
}
